@media (max-width: 880px){
  nav > ul > li{
    margin: 10px;
  }

  section#inicio{
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  #infos{
    margin: 0;
    text-align: center;
    padding: 40px 50px;
    height: auto;
    width: 100%;
  }

  #infos > p{
    text-align: center;
  }

  #redes{
    justify-content: center;
    align-items: center;
    padding: 8px;
  }

  section#services{
    height: auto;
  }
  section#services > ul{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }

  section#services > ul > li{
    width: 200px;
  }

  section#skills{
    height: auto;
  }

  #skills-container > #front{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #skills-container > #front > ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    align-items: center;
  }

  #skills-container > #back{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #skills-container > #back > ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    align-items: center;
  }

  section#projects > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 20px;
  }
}